.final{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    justify-content: start;
}

.final__resoults{
    min-width: 50%;
    padding: 30px;
    box-sizing: border-box;
    padding-top: 75px;
}

.final__discription{
    position: relative;
    min-width: 40%;
    display: flex;
    justify-content: center;
    padding: 30px;
}
