body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import './elements/quastion.scss';
@import './elements/radio.scss';
@import './elements/checkbox.scss';


.container{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(163deg, rgba(255,94,114,0.2) 10%, rgba(0,212,255,0.2) 60%);
}
  

.quation__button button{
  border: 2px solid rgba(255,94,114,1);
  color: rgba(255,94,114,1);
  /* border-color: ; */
  /* background-color: rgba(255,94,114,0.5); */
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial;
  font-weight: 500;
  font-size: 15px;
  transition: opacity 0.5s linear;
}


.quation__button button:hover{
  cursor: pointer;
  border: 2px solid rgba(0,212,255,1);
  color: rgba(0,212,255,1);
  transition: border 1s linear;
  transition: color 0.2s linear;
}


.final{
  top: 0;
  left: 5%;
  position: absolute;
  width: 90vw;
  height: 50vh;
  background-color: aqua;
}