body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@import './elements/quastion.scss';
@import './elements/radio.scss';
@import './elements/checkbox.scss';
@import './elements/button.scss';
@import './elements/final.scss';
@import './elements/resoult.scss';
@import './elements/points.scss';
@import './elements/warning.scss';
@import './elements/loader-rainbow.scss';


.container{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(163deg, rgba(255,94,114,0.2) 10%, rgba(0,212,255,0.2) 60%);
  background-attachment: fixed;
}

.container h1{
  margin-top: 50px;
}


@media (min-width: 468px) and (max-width: 600px){
  .container h1{
    font-size: 25px;
  }
}
  


@media (max-width: 468px){
  .container h1{
    font-size: 20px;
  }
}